body {
	margin: 0;
	position: relative;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	/*font-weight: normal;*/
	color: #333333;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

/* .visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden */ 

.visually-hidden:not(:focus):not(:active) {
	position:absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect:(0 0 0 0);
	overflow: hidden;
}

.main-navigation {
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	
	background-color: #ffffff;	
}

.site-navigation {
	list-style: none;	
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover{
  color: #a3c7de;
}

.site-navigation a:focus{
  color: #b2b2b2;
}

.site-navigation a:active{
  color: #766357;
}

h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: center;	
}

.reasons h2 {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #333333;
	text-align: center;
}

.city-welcome {
	background-color: #ffffff;
	background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
	background-size: 1200px 60px, 100%;
	background-position: 0px 450px, 50% 21%;
	background-repeat: no-repeat, no-repeat;
}

.reasons-list {
	list-style: none;	
}

/* .reasons-item:nth-child(-n+2){
	background-color: #81b3d2;
} */

/* .reasons-attractions-list{
	background-color: #ffffff;
	border: 1px solid black;
} */

.reasons-item {
	text-align: center;
}

.reasons-item h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
}

.reasons-item:nth-child(n+3) h3 {
	color: #000000;
}

.reasons-item:nth-child(-n+2) p{
	color: #ffffff;
}

.reasons-attractions-list {
	list-style: none;	
}

.reasons-attractions-list li{
	text-align: center;	
}

.reasons-attractions-list h4{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;	
}

.search h2{
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;

	text-align: center;	
}

.search h2 + p{
	line-height: 24px;

	text-align: center;	
}

.search-hotel {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
	text-decoration: none;
}

.search-hotel:hover{
	background-color: #604e43;
	text-decoration: none;
}
.search-hotel:focus {
	color: #857871;
	background-color: #503e33;
	text-decoration: none;
}

.search-wrapper{
	background-image: url("../img/map.jpg");
	background-size: 1200px 473px;
	background-position: 0px 86px;
	background-repeat: no-repeat;
}

.search-form{
	background-color: #ffffff;
}

.search-form label{
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.search-form input[type="text"] {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #f2f2f2;
}

.search-form input[type="text"]:hover{
	background-color: #ebebeb;
}
.search-form input[type="text"]:focus {
	background-color: #ffffff;
}

.search-form button[type="submit"] {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #81b3d2;

	text-align: center;
}

.search-form button[type="submit"]:hover{
	background-color: #669ec0;
}
.search-form button[type="submit"]:focus {
	color: #88b6d1;
	background-color: #5496bd;
}

.select-parameters {
	background-color: #ffffff;	
	background-image: url("../img/filter-background.jpg");
	/*высота для видимости (белый текст)*/
	background-size: 1200px 440px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.select {
	color: #ffffff;
}

.select ul{
	list-style: none;	
}

.select fieldset{
	border-width: 0;	
}

.select legend{
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;	
}

.range-controls span{
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	
	border: 2px solid #ffffff;
}

.select-button{
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	text-align:center;
	
	background-color: transparent;
	border: 2px solid #ffffff;
}

.select-button:hover {
	color: #000000;

	background-color: #ffffff;
}

.hotels h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.hotels span {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

a.hotels-sort {
	font-size: 12px;
	line-height: 18px;
	color: #b2b2b2;
	
	border-bottom: 1px dashed #81b3d2;
}

a.hotels-sort:hover{
	color: #81b3d2;
	
	border-bottom: 1px dashed #81b3d2;
}

a.hotels-sort:focus {
	color: #000000;
	
	border-width: 0;
}

a.hotels-sort:active{
	color: #81b3d2;
	
	border-width: 0;
}

.hotels ul{
	list-style: none;	
}

.hotels h3 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

a.hotels-detail{
	color: #000000;
}

a.hotels-detail:hover{
	color: #81b3d2;
}

a.hotels-detail:focus{
	color: #b2b2b2;
}

.hotels-info-buttons a.button{
	font-weight: 700;
}

a.button-details {
	color: #ffffff;
	
	background-color: #81b3d2;
}

a.button-details:hover {
	color: #ffffff; 
	
	background-color: #669ec0;
}

a.button-details:focus {
	color: #88b6d1;
	
	background-color: #669ec0;
}

a.button-booking {
	color: #ffffff;
	
	background-color: #766357;
}

a.button-booking:hover {
	color: #ffffff; 
	
	background-color: #604e43;
}

a.button-booking:focus {
	color: #7b6d65;
	
	background-color: #604e43;
}

.hotels-class {
	text-align: right;
}

span.hotels-rating {
	font-size: 14px;
	line-height: 21px;
	background-color: #f2f2f2;
}

.main-footer {
	position: absolute;
	left: 0;
	top: 100%;
	color: #000000;
	
	background-color: #ffffff;
}

.footer-hashtag{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	
	text-align: center;
}

.footer-social {
	list-style: none;
		
	text-align: center;
}

.social-button {
	color: #ffffff;
	
	background-color: #81b3d2;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright .button{
	color:#000000;
}

.footer-copyright .button:hover{
	color:#81b3d2;
}

.footer-copyright .button:focus{
	color:#bdbbbc;
}

/* сетка */
/* html,
body {
	min-width: 1280px;
	min-height: 2762px;
} */

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-header {
	position: relative;
}

.site-navigation {
	margin: 0;
	padding: 0;
	display: flex;
}

.site-navigation li{
	width: 20%;
	text-align: center;
	padding: 15px 0px;
}

.site-navigation li:nth-child(2){
	margin-right: auto;
}

.site-navigation li:nth-child(3){
	margin-left: auto;
}

.main-header-logo {
	width: 140px;
	height: 72px;

	position: absolute;
	left: 530px;
}

.city-welcome {
	width: 1200px;
	height: 508px;
	margin-bottom: 58px;
	display: flex;
}

.city-welcome img{
	margin: auto;
}

h1 {
	width:442px;
	margin: auto;
	margin-bottom: 28px;
}

.reasons h2 {
	margin-bottom: 50px;
}

.reasons-list {
	display: flex;
	flex-wrap:wrap;
	margin: 0;
	padding: 0;
}

/*33,33333 у меня не идёт
задала 33% + flex-grow чтобы растянулись 
и цвет фона у строки для перестраховки (возможно лишнее)*/
.reasons-item {
	width: 33%;
	flex-grow: 1;
	/*для сетки*/
	min-height: 256px;
}

/* чтобы текст переносился по строкам (возможно спорное решение) */
.reasons-item p {
	display: block;
	padding: 0 62px;
	margin: auto;
}

.reasons-item_long {
	width: 100%;
}

.reasons-item_blue {
	display: flex;
	background-color: #81b3d2;
}

.reasons-item_grey {
	background-color: #eeeeee;
}

.reasons-item_num{
	order: 1;
}

.reasons-attractions-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	/*для сетки*/
	min-height: 330px;
	background-color: #ffffff;
}

.search h2{
	margin-top: 50px;
}

.search-wrapper{
	width: 100%;
		/*для сетки*/
	min-height: 680px;
}

.search-container {
	width: 460px;
	margin: 0 auto;
	padding: 56px 54px;
	background-color: #ffffff;
	/*для сетки*/
	min-height: 288px;
}

.search-hotel {
	display: block;
	width: 568px;
	margin: 0 auto;
	margin-top: 48px;
	text-align: center;
	padding: 30px 0;
}

.search-item {
	display: flex;	
}

.search-item-people {
	width: 50%;
}

.search-form button[type="submit"] {
	width: 458px;
	padding: 18px 0;
}

.select-parameters {
	padding: 30px 73px;
	margin-bottom: 30px;
	/*для сетки*/
	min-height: 160px;
}

.select {
	display: flex;
	justify-content: space-between;
}

.select ul {
	margin: 0;
	padding: 0;
}

.container-range-button	{
	width: 320px;
	/*для сетки*/
	min-height: 160px;
}

.infrastructure,
.type-house{
	width: 140px;
	/*для сетки*/
	min-height: 145px;
}

.type-house{
	margin-right: 240px;
}

.select-button {
	width: 137px;
	margin-left: 86px;
	/*для сетки*/
	min-height: 38px;
}

.container-hotels-sort{
	display: flex;
	align-items: center;
	padding: 0 73px 30px 73px;
	border-bottom: 1px solid #e5e5e5;
}

.container-hotels-sort h2{
	margin: 0 50px 0 0;
}

.container-hotels-sort span {
	margin: 0 40px 0 0;
}

.hotels-sort-type,
.hotels-sort-up-down{
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotels-sort-type li,
.hotels-sort-up-down li{
	display: inline;
}

.hotels-sort-type li{
	margin-right: 30px;
}

.hotels-sort-up-down {
	margin-left: auto;
}

.hotels-list{
	margin: 0;
	padding: 0;
}

.hotels-item {
	display: flex;
	padding: 20px 73px 2px 73px;
	border-bottom: 1px solid #e5e5e5;
}

.container-hotels-detail{
	display: flex;
	flex-wrap:wrap;
	width: 260px;
	padding: 0 30px;

}

.container-hotels-detail h3{
	width: 100%;
}

.container-hotels-detail h3,
p {
	margin: 0 0 18px 0;
}

.hotels-type,
.hotels-info-buttons {
	width: 43%;
	margin-right: 7px;
}

.hotels-class{
	width: 112px;
	margin-left: auto;
	/*для сетки*/
	min-height: 92px;
}

span.hotels-rating {
	display: block;
	width: 112px;
	padding: 5px;
	text-align: center;
	/*для сетки*/
	min-height: 18px;
}

.main-footer {
	width: 100%;
}

.main-footer div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 70px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.9);
	/*для сетки*/
	min-height: 120px;
}

.footer-hashtag {
	margin: 0;
	width: 240px;
	/*для сетки*/
	min-height: 22px;
}

.footer-social{
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*для сетки*/
	min-height: 48px;
}

.footer-copyright{
	margin: 0;
	width: 240px;
	/*для сетки*/
	min-height: 48px;
}